@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-violet: #7367F0;
    --color-white: #FFFEFD;
    --color-gray-dark: #625F6E;

    --gradient-violet: linear-gradient(118deg, var(--color-violet), rgba(115, 103, 240, .7));

    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 28px;

    --font-weight-default: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --spacing-medium: 16px;
    --spacing-large: 24px;

    --border-radius-small: 3px;
    --border-radius-medium: 5px;

    --transition: .3s;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}