@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-violet: #7367F0;
    --color-white: #FFFEFD;
    --color-gray-dark: #625F6E;

    --font-size-small: 14px;
    --font-size-medium: 18px;
    --font-size-large: 28px;

    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}