.container {
    position:fixed;
    width: 260px;
    height: 100vh;
}

.light__container {
    background-color: var(--color-white, 10%);
}

.light__menu li:hover {
    background-color: rgba(98, 95, 110, .06);
}

.light__menu a {
    color: var(--color-gray-dark);
}

.dark__container {
    background-color: var(--color-night-blue);
}

.dark__menu li:hover {
    background-color: var(--color-cobalt-blue);
}

.dark__menu a {
    color: var(--color-white);
}

.menu {
    padding-top: 10px;
}

.menu li {
    list-style-type: none;
    margin: 0 20px 10px 20px;
}

.menu .icons {
    width: 20px;
    height: 20px;
}

.menu li:hover {
    border-radius: var(--border-radius-medium);
    transition: var(--transition);
}

.menu a {
    display: block;
    
    text-decoration: none;
    font-size: var(--font-size-small);
    
    padding: 10px 20px;
}

.active {
    background: var(--gradient-violet);
    border-radius: var(--border-radius-medium);
    color: var(--color-white) !important;
    transition: var(--transition);
}
