.container {
    display: flex;
    height: 100%;
}

.light__container {
    background-color: #e6e6e6;
}

.dark__container {
    background-color: var(--color-cobalt-blue);
}

nav {
    position: fixed;
    width: 260px;
}

.content {
    margin-left: 260px;
    padding: var(--spacing-large);
}